---
import Icon from "./Icon.astro";
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="code"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>编程新星</h2>
		<p>
			我现在是一名后端开发工程师，主力语言是Golang。我还有过前端、安卓的项目经验。
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="write"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>写作能手</h2>
		<p>
			文字记载是延续文明最重要的方式。我比较擅长文学创作，倚马万言不在话下。我希望保持至少每月一篇文章的输出频率。同时我正每周阅读一本书。
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="sport"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>运动健将</h2>
		<p>
			我动故我在，只有每天坚持锻炼，才能保持健康的身体！我喜欢球类运动，平时打乒乓球、羽毛球、台球。每月爬山、骑行、健身。
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="switch-logo"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>玩家/游戏开发</h2>
		<p>
			我曾经开发过《Run and
			Run》《勇者斗恶龙》《我欲修仙》3款游戏，只有些朋友尝试玩过。
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="music"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>(潜在的)歌手</h2>
		<p>
			我收藏的音乐不下千首，喜欢但不敢唱歌。我正在学习《郭潇雨的流行声乐课堂》来提升声乐技巧。
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon
			icon="dance"
			color="var(--accent-regular)"
			size="2.5rem"
			gradient
		/>
		<h2>(潜在的)舞者</h2>
		<p>
			22年在家憋疯了，在朋友的介绍下，我加入BodySoul学习Jazz，目前还是个初学者。
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
